:root {
  --branding-color: rgb(173, 185, 201);
  --primary-color: rgb(55, 66, 88);
  --default-color-family: rgb(235, 235, 235);
  --heading-font-family: "Libre Baskerville", serif;
  --default-font-family: "Source Sans Pro", sans-serif;
}
body {
  background-color: var(--branding-color);
}
footer {
  color: var(--default-color-family);
}
h1 {
  color: var(--default-color-family);
  font-family: var(--heading-font-family);
  font-size: 84px;
  font-weight: bold;
  line-height: 1.5;
}
h2 {
  color: var(--default-color-family);
  font-size: 60px;
}
img {
  border-radius: 12px;
}
p {
  color: var(--default-color-family);
  font-size: 16px;
  font-weight: normal;
  line-height: 30px;
}
.content {
  margin: 30px;
}
.content-section {
  background-color: var(--primary-color);
  padding: 160px 20px;
}
.content-section h1 {
  font-size: 64px;
  line-height: 80px;
}
.content-section h2 {
  font-size: 18px;
  font-weight: bold;
  font-family: var(--default-font-family);
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: var(--default-color-family);
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
}
.btn-branding-outline {
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  color: var(--primary-color);
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
}
.hero {
  background-color: var(--primary-color);
  padding: 160px 20px;
  text-align: center;
}
.hero h2 {
  color: var(--default-color-family);
  font-family: var(--default-font-family);
  font-size: 26px;
  line-height: 2;
}
.hero p {
  color: var(--default-color-family);
  font-family: var(--default-font-family);
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}
.project-description {
  padding: 120px 60px;
}
@media (max-width: 960px) {
  h1 {
    font-size: 40px;
    line-height: 2;
  }
  h2 {
    font-size: 34px;
  }
  p {
    font-size: 22px;
  }
  .content-section {
    text-align: center;
    padding: 0;
  }
  .hero {
    padding: 80px 20px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
}
