:root {
  --branding-color: rgb(173, 185, 201);
  --primary-color: rgb(55, 66, 88);
  --default-color-family: rgb(235, 235, 235);
  --heading-font-family: "Libre Baskerville", serif;
  --default-font-family: "Source Sans Pro", sans-serif;
}
body {
  background-color: var(--branding-color);
  font-family: var(--default-font-family);
}

h1 {
  color: var(--default-color-family);
  font-family: var(--heading-font-family);
  font-size: 84px;
  font-weight: bold;
  line-height: 1.5;
}
h2 {
  color: var(--default-color-family);
  font-size: 60px;
}
h3 {
  color: var(--branding-color);
  font-size: 48px;
}
img {
  border-radius: 12px;
}
nav {
  padding: 20px;
}
nav a {
  color: var(--default-color-family);
  font-size: 20px;
  text-decoration: none;
  transition: all 100ms ease-in-out;
}
nav a:hover,
nav li.active a {
  color: var(--primary-color);
}
nav li {
  display: inline;
  line-height: 42px;
  list-style: none;
  margin-left: 15px;
}
nav ul {
  margin: 0;
  padding: 0;
}
p {
  color: var(--default-color-family);
  font-size: 16px;
  font-weight: normal;
  line-height: 30px;
}
footer .contact-box {
  background: var(--primary-color);
  border-radius: 10px;
  padding: 30px 120px;
}
footer .contact-box h4 {
  color: var(--default-color-family);
}
footer .contact-box p {
  color: var(--default-color-family);
  margin: 0;
  opacity: 0.5;
}
footer .email-link {
  color: black;
  font-size: 24px;
  text-decoration: none;
}
footer .email-link:hover {
  color: var(--default-color-family);
}
.content {
  margin: 30px;
}
.content a {
  color: var(--default-color-family);
}
.content h1 {
  font-size: 64px;
  line-height: 80px;
}
.content h2 {
  font-size: 18px;
  font-weight: bold;
  font-family: var(--default-font-family);
}
.content h3 {
  color: var(--default-color-family);
  font-family: var(--default-font-family);
  font-size: 24px;
  line-height: 1.5;
  margin: 20px 0 0;
}
.content p {
  color: var(--default-color-family);
  font-size: 14px;
  opacity: 0.5;
}
.content-section {
  background-color: var(--primary-color);
  border-radius: 10px;
  padding: 60px 20px;
}
.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.btn-branding-outline {
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  color: var(--primary-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.btn-branding-outline:hover {
  color: var(--default-color-family);
}
.hero {
  background-color: var(--primary-color);
  padding: 80px 20px;
  text-align: center;
}
.hero h2 {
  color: var(--default-color-family);
  font-family: var(--default-font-family);
  font-size: 26px;
  line-height: 2;
}
.hero p {
  color: var(--default-color-family);
  font-family: var(--default-font-family);
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}
.logo {
  max-height: 60px;
}

.project-description {
  padding: 120px 60px;
}
@media (max-width: 960px) {
  h1 {
    font-size: 40px;
    line-height: 2;
  }
  h2 {
    font-size: 34px;
  }

  nav a {
    font-size: 12px;
  }
  p {
    font-size: 22px;
  }

  .content-section {
    text-align: center;
    padding: 0;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }
}
